/* @import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=IBM+Plex+Sans+KR:wght@300&family=Montserrat:wght@300;400;800&display=swap'); */

* {
    box-sizing: border-box;
}

h4 {
    font-family: 'Russo One', sans-serif;
}

#cow {
    font-family: 'Russo One', sans-serif;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

figcaption {
    font-family: 'Moon Dance', cursive;
    font-size: 28px !important;
    color: white !important;
}

body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background: white;
    background-image: url("../public/output-onlinepngtools\(5\).png");
    /* background: #12c2e9; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navbar {
    color: white !important;
    text-decoration: white !important;
    /* background-color: #131313e8 !important; */
    background-color: #131313f0 !important;
}

#footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white !important;
    text-decoration: white !important;
    background-color: #131313e8 !important;
}

#footer2 {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white !important;
    text-decoration: white !important;
    background-color: #131313e8 !important;
}

img {
    opacity: 0.5;
}

body,
html,
.App,
#root,
.outer {
    width: 100%;
    height: 100%;
}

.navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
}

.outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.custom-control-label {
    font-weight: 400;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}

.fadedfx {
    background-color: #fe5652;
    visibility: hidden;
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}